In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_schools:
    print (school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [2]:
# A list of dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for types in high_school_types:
    print(types)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [10]:
print(high_school_types[0].keys())

dict_keys(['High School', 'Type'])

In [12]:
print(high_school_types[0].get("High School"))

Griffin

In [19]:
school=len(high_school_types)
for schools in range(school):
    print(high_school_types[schools].get("High School"))

Griffin
Figueroa
Wilson
Wright

In [20]:
# Add the Pandas dependency.
import pandas as pd

In [22]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
print(school_series)

0    Hernandez High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

In [24]:
for school in school_series:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [25]:
# A list dictionaries of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

#create data frame
school_df = pd.DataFrame(high_school_dicts)
print(school_df)

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [28]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [31]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

print(schools_df)

   School ID
0          0
1          1
2          2
3          3
4          4

In [32]:
# Add other lists to the DataFrame.
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

print(schools_df)

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [33]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
high_schools_dict_df=pd.DataFrame(high_schools_dict)
print(high_schools_dict_df)

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [34]:
# The Anatomy of a DataFrame
print(school_df.columns)
print(school_df.index)
print(school_df.values)

Index(['School ID', 'school_name', 'type'], dtype='object')
RangeIndex(start=0, stop=5, step=1)
[[0 'Huang High    School' 'District']
 [1 'Figueroa High School' 'District']
 [2 'Shelton High School' 'Charter']
 [3 'Hernandez High School' 'District']
 [4 'Griffin High School' 'Charter']]